<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tiendu</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Tiendu</h1>
      <h2>The AI powered ecommerce for the next generation of entrepreneurs</h2>
      <a href="/get-started"><button>Get Started</button></a>
    </main>
    <footer></footer>
  </body>
</html>
